

.audience-ranking {
    width: 100%;
    min-height: 100vh;
    padding: 72px 0 0 0;
}

.audience-ranking > h1 {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audience-ranking-table {
    overflow-x: scroll;
    margin: 1rem;
}

.audience-ranking-table::-webkit-scrollbar {
    height: 0;
}

/* 
.audience-ranking-table::-webkit-scrollbar-thumb {
    background-color: rgb(36, 170, 170);
} */

.audience-ranking-table > table {
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.204);
    padding: 1rem;
    border-collapse: collapse;
    overflow-x: auto;
    height: 80vh;
    width: 100%;

}



.audience-ranking-table th{
    padding: 1rem;
    text-align: left;

    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
.audience-ranking > table  tr {
    height: 10px !important;
}

.audience-ranking-table th:first-of-type {
    border-top-left-radius: 10px;
}
.audience-ranking-table th:last-of-type {
    border-top-right-radius: 10px;
}

.audience-ranking-table tr:hover {
    background-color: rgba(232, 231, 232, 0.6);
}

.audience-ranking-table td {
    padding: 1rem;
}


.btn-container2 {
    padding-bottom: 2rem;
}

.btn-container2  > .btn-page > button {
    font-size: 1rem;
    background: black;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 1rem;
}

.btn-container2 > .btn-page > button:disabled {
    cursor: not-allowed;
    background-color: rgb(229, 229, 229);
    color: black;
}

.btn-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.self-rank {
    background-color: #5e37c2;
}